$primary-font: 'IM Fell English SC', serif;
$secondary-font: 'Josefin Slab', serif;

#titleHeader {
	font-family: $primary-font;
}

.container {
	font-family: $primary-font;
	width: 80%;
}

.rawDataRows {
	font-family: $secondary-font;
	font-size: 1.2em;
}

.rawDataHead {
	font-size: 1.5em;
}

.input-field {
	margin-top: 20px;
}

.queryInput {
	// font-family: $primary-font;
	font-size: 1.5em;
}

/* label focus color */
   .input-field input[type=text]:focus + label {
     color: #000;
}
/* label underline focus color */
   .input-field input[type=text]:focus {
     border-bottom: 1px solid #000;
     box-shadow: 0 1px 0 0 #000;
   }