<a class="waves-effect waves-light btn grey col s6" ng-click="printData()">Display Data</a>


<table style="width:100%">
  <tr class="rawDataHead">
    <th style="text-align: center">Document</th>
    <th style="text-align: center">Word</th>
    <th style="text-align: center">Term Frequency</th> 
    <th style="text-align: center">Normalized Term Frequency</th>
    <th style="text-align: center">Inverse Document Frequency</th>
    <th style="text-align: center">Tf-Idf</th>
  </tr>
  <tr ng-repeat="each in data" class="rawDataRows">
  	<td style="text-align: center"> {{each.document}} </td>
    <td style="text-align: center"> {{each.word}} </td>
  	<td style="text-align: center"> {{each.count}} </td>
  	<td style="text-align: center"> {{each.termFrequency}}</td>
    <td style="text-align: center"> {{each.inverseDocumentFrequency}}</td>
    <td style="text-align: center"> {{each.tfIdf}}</td>
  </tr>
</table>
