<div class="input-field">
  <label for="query" class="queryInput">Query</label>
  <input type="text" name="query" ng-model="queryInput" class="queryInput"></input>
</div>
<button class="waves-effect waves-light btn grey col s6" ng-click="grabQuery()">Input Query</button>
<button class="waves-effect waves-light btn grey col s6" ng-click="displayData()" ng-hide="queryEntered">Display Data</button>
<button id="cosineSimilarity" class="waves-effect waves-light btn grey col s6" ng-click="showData()" ng-hide="queryEntered">Show the Cosine Similarity</button>
<div id="alertMessage">
  <h2 style="color: red; text-align: center">{{alertMessage}}</h2>
</div>
<div style="height: 105px" ng-hide="queryEntered">
  <h3> Cosine Similarity: <h4>{{result}}</h4> </h3>
</div>


<table style="width:100%" ng-hide="queryEntered">
  <tr class="rawDataHead">
    <th style="text-align: center">Document</th>
    <th style="text-align: center">Word</th>
    <th style="text-align: center">Term Frequency</th> 
    <th style="text-align: center">Normalized Term Frequency</th>
    <th style="text-align: center">Inverse Document Frequency</th>
    <th style="text-align: center">Tf-Idf</th>
  </tr>
  <tr ng-repeat="each in data" class="rawDataRow">
  	<td style="text-align: center"> {{each.document}} </td>
    <td style="text-align: center"> {{each.word}} </td>
  	<td style="text-align: center"> {{each.count}} </td>
  	<td style="text-align: center"> {{each.termFrequency}}</td>
    <td style="text-align: center"> {{each.inverseDocumentFrequency}}</td>
    <td style="text-align: center"> {{each.tfIdf}}</td>
  </tr>
</table>