<div id="controlChart" style="margin-top: 25px">
	<div id="tooltip">
		<div>
	        <h4>Lexical Data</h4>
	        <p>Term: <span id="word" class="tooltipWord hidden"></span><p>
	        <p>Document: <span id="document" class="tooltipDocument hidden"></span><p>
	        <p>tf-idf: <span id="tfIdf" class="tooltipTfIdf hidden"></span></p>
		</div>
	<button class="waves-effect waves-light btn grey col s6" id ="populateChart" ng-click="printChart()">Show Data</button>
	<button class="waves-effect waves-light btn grey" id="resetView" ng-click="callResetted()">Reset View</button>
	</div>
	<p id="inverseDocumentFrequency">Inverse Document Frequency</p>
	<svg width = "760" height = "400" id="svg" style="margin-left: 50px">
	</svg>
	<p id="termFrequency">Term Frequency</p>
</div>