<input type="text" name="query" ng-model="queryInput"></input>
<button ng-click="grabQuery()">Input Query</button>
<!-- <button ng-click="grabControlData()">Grab Control</button> -->
 <button ng-click="displayData()">Display Data</button>

<table style="width:100%">
  <tr>
    <th>Document</th>
    <th>Word</th>
    <th>Term Frequency</th> 
    <th>Normalized Term Frequency</th>
    <th>Inverse Document Frequency</th>
    <th>tf-idf</th>
  </tr>
  <tr ng-repeat="each in data">
  	<td style="text-align: center"> {{each.document}} </td>
    <td style="text-align: center"> {{each.word}} </td>
  	<td style="text-align: center"> {{each.count}} </td>
  	<td style="text-align: center"> {{each.termFrequency}}</td>
    <td style="text-align: center"> {{each.inverseDocumentFrequency}}</td>
    <td style="text-align: center"> {{each.tfIdf}}</td>
  </tr>
</table>