<div id="controlChart" style="margin-top: 10px">
	<div id="tooltip">
		<div>
	        <h4>Lexical Data</h4>
	        <p>Term: <span id="word" class="tooltipWord hidden"></span><p>
	        <p>Document: <span id="document" class="tooltipDocument hidden"></span><p>
	        <p>tf-idf: <span id="tfIdf" class="tooltipTfIdf hidden"></span></p>
		</div>
	<button class="waves-effect waves-light btn grey" id="resetView">Reset View</button>
	</div>
	<svg width = "760" height = "400" id="svg" style="margin-left: 10px">
	</svg>
	<script>

function init() {
	
	d3.json(`https://lemma-6aeab.firebaseio.com/-Kfg0NSkaOAosOWnRUl6.json`, function(error, data) {

		var svg = d3.select("#svg"),
			width = +svg.attr("width"),
			height = +svg.attr("height");

		var zoom = d3.zoom()
			.scaleExtent([1, 40])
			.translateExtent([[-100, -100], [width + 90, height + 100]])
			.on("zoom", zoomed);

		let xDomain = d3.extent(data, function(element) {
		return element.termFrequency - .002;
		});

		let xScale = d3.scaleLinear()
			.domain(xDomain)
			.range([-1, width + 500]);

		let yDomain = d3.extent(data, function(element){
		return element.inverseDocumentFrequency + .05;
		});

		let yScale = d3.scaleLinear()
			.domain(yDomain)
			.range([height - 20, 1]);

	    let defaultCircleRadius = 5;

	    let xAxis = d3.axisBottom(xScale)
	    	.ticks(10)
	    	.tickSize(height)
	    	.tickPadding(8-height);

	    let yAxis = d3.axisRight(yScale)
	    	.ticks(10)
	    	.tickSize(width)
	    	.tickPadding(8-width);

	    let view = svg.append("rect")
	    	.attr("class", "view")
	    	.attr("x", 0.5)
	    	.attr("y", 0.5)
	    	.attr("width", width)
	    	.attr("height", height + 1)
	    	.attr("opacity", 0);

	    let gX = svg.append("g")
	    	.attr("class", "axis axis-x")
	    	.call(xAxis);

	    let gY = svg.append("g")
	    	.attr("class", "axis axis-y")
	    	.call(yAxis);

		let dots = svg.selectAll('g.dots')
				.data(data)
				.enter()
				.append('g')
				.attr('class', 'dots')
				.attr("cx", function(d, i) {
			   		return xScale(d.termFrequency);
			   })
			   .attr("cy", function(d) {
			   		return height - yScale(d.inverseDocumentFrequency);
			   });

		dots.attr('transform', function(d) {
			cx = xScale(d.termFrequency)
			cy = yScale(d.inverseDocumentFrequency)
			return 'translate(' + cx + ',' + cy + ')'
			})
			.style('stroke', '#000')
			.style('fill', 'grey');

		dots.append('circle')
			.attr('r', 5);

	    svg.call(zoom);

	    function zoomed() {
	    	// zoom.translateExtent([0,0],[760,400]);
	    	view.attr("transform", d3.event.transform);
	    	gX.call(xAxis.scale(d3.event.transform.rescaleX(xScale)));
	    	gY.call(yAxis.scale(d3.event.transform.rescaleY(yScale)));
	    	dots.attr('transform', function(d) {
	    		cx = d3.event.transform.applyX(xScale(d.termFrequency))
	    		cy = d3.event.transform.applyY(yScale(d.inverseDocumentFrequency))
	    		return 'translate(' + cx + ',' + cy + ')'
	    	});
	    	// dots.attr('transform', function(d){
	    	// 	let r = 5 * d3.event.transform.k
	    	// 	return 'translate(' + cx + 'y' + cy + ')'
	    	// })
		}

		d3.select("button").on("click", resetted);

		function resetted() {
			svg.transition()
				.duration(750)
				.call(zoom.transform, d3.zoomIdentity);
		}

		dots.on("mouseover", function(d) {
			d3.select(this).select('circle').attr('r', 10).style('fill', 'blue');

			d3.select("#tooltip")
			  .select("#document")
			  .text(d.document);
			  
			d3.select("#tooltip")
			  .select("#word")
			  .text(d.word);

			d3.select("#tooltip")
			  .select("#tfIdf")
			  .text((d.tfIdf).toFixed(4));

			d3.select(".tooltipWord").classed("hidden", false);
			d3.select(".tooltipDocument").classed("hidden", false);
			d3.select(".tooltipTfIdf").classed("hidden", false);
		});

		dots.on("mouseout", function() {
			d3.select(this).select('circle').attr('r',5).style('fill', 'grey');
			d3.select(".tooltipWord").classed("hidden", true);
		});

    });
};

init();

	</script>
	
</div>